<div class="row">
  <div class="span6">
  <%= twitter_bootstrap_form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
  <div class="alert alert-error" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#">×</a>
      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <div class="field">

    <%= f.text_field :title, 'Titolo' %>
  </div>
  <div class="field wmd-panel">
    <div id="wmd-button-bar"></div>
    <%= f.text_area :content, 'Abstract', :class => 'wmd-input', :id => 'wmd-input' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div class="span2"></div>

<div class="span3" style="margin-top: 80px;">
  <strong>Anteprima:</strong><br>
  <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
</div>
</div>
