<%= twitter_bootstrap_form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
  <div class="alert alert-error" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#">×</a>
      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <div class="field">

    <%= f.text_field :title, 'Titolo' %>
  </div>
  <div class="field">

    <%= f.text_area :content, 'Abstract', :id => 'markdown_example' %>
  </div>

  <div id="markdown_formatted"></div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
