<%# content_for :head do %>
  <%#= template_include_tag talk_list' %>
<%# end %>

<h1><%= title 'Proposte Talks' %></h1>

<div class="row well">
  <div class="span8">
  <%= link_to "Inserisci la tua proposta", new_talk_path, :class => 'btn'%>
  </div>
  <div class="span3">
    <div class="btn-group" data-toggle="buttons-checkbox">
        <a href="<%= talks_url %>"
           class="btn btn-primary <%= 'active' unless params[:sort]%>">Più votati</a>
        <a href="<%= talks_url+'?sort=recent' %>"
           class="btn btn-primary <%= 'active' if params[:sort]=='recent' %>">Recenti</a>
    </div>
  </div>
</div>

<div id="talk_list">
  <%= render 'talks_list', :talks => @talks %>
</div>

<!-- TODO: manca integrazione con paginazione -->
<!--
<a id="talk-more" class="btn btm-small" href="#">More</a>
-->
<%#= link_to 'More html', talks_url, :remote => true, :id => 'talk-more-html', :class => 'btn' %>


