<%= template_include_tag 'talk_item' %>

<h1>Proposte Talks</h1>

<div class="row well">
  <div class="span12">
  <%= link_to "Inserisci la tua proposta", new_talk_path, :class => 'btn'%>
  </div>
  <div class="span3">
  Ultime | Più votate
  </div>
</div>

<% @talks.reverse.each do |talk| %>
<div class="row" style="border-bottom: 1px solid #DDD; margin-top: 4px;">
  <div class="span1"><%= image_tag profile_img(talk.user) %></div>
  <div class="span10">
    <a href="<%= talk_url(talk) %>">
    <h3 style="margin-top: 0px; margin-bottom: .5em; line-height: .9em;"><%= talk.title %></h3></a>
    <span><i class="icon-comment"></i> 6</span>
    <span><i class="icon-user"></i> <%= talk.votes_count + 1  %></span>
    <%= talk.user.display_name %>
  </div>

</div>
<% end %>

<a class="btn" href="#">More</a>
