<%= template_include_tag 'vote_box' %>

<% if notice %>
<div class="alert-message warning" data-alert="alert">
  <a class="close" href="#">×</a>
  <p><%= notice %></p>
</div>
<% end %>

<h2>
  <%= @talk.title %>
</h2>

<p>
  <%= @talk.content %>
</p>

<p>
  <b>Author:</b><%= @talk.user.display_name %>
</p>

<%= render 'vote_box' %>

<br>--

<%= link_to 'vota', toggle_vote_talk_url(@talk) %><br>

<div>
<% @talk.voters_who_voted.each do |u| %>
 <%= u.display_name %>
<% end %>
</div>


<%= link_to 'Edit', edit_talk_path(@talk), :remote => true %> |
<%= link_to 'Back', talks_path %>|
<%= link_to 'Comments', talk_comments_path(@talk) %>

<% @comments = @talk.comments.includes(:user) %>
<div id="comments">
<% for comment in @comments %>
  <div class="comment">
    <%=simple_format comment.content %>
    <%=simple_format comment.user.display_name %>
  </div>
<% end %>
</div>


<h2>New Comment</h2>

<%= twitter_bootstrap_form_for [@talk, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
