<%#= template_include_tag 'vote_box' %>
<% talk = @talk %>

<% if can? :update, talk %>
<div class="row">
  <div class="span12">
    <span>
      <%= link_to edit_talk_url(talk) do %>
        <i class="icon-pencil"></i> Modifica
      <% end %>
    </span>
  <% if can? :manage, talk %>
    <span><i class="icon-remove"></i> Elimina</span>
    <%= link_to talk_url(@talk)+"?talk[status]=visible", :remote => true, :method => :put,
                  :class => 'set_visible' do %>
      <span><i class="icon-ok"></i> Approva</span>
    <% end %>
    <%= link_to talk_url(@talk)+"?talk[status]=hidden", :remote => true, :method => :put,
                  :class => 'set_hidden' do %>
      <span><i class="icon-ok"></i> Nascondi</span>
      <%# form_for() %>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<div class="row talk talk-<%= talk.status %>" id="talk-<%= talk.id %>"
     style="border-bottom: 1px solid #DDD; margin-top: 4px;">
  <div class="span1">
    <%= render 'users/user_profile_mini', :user => talk.user %>
  </div>
  <div class="span11">
    <a href="<%= talk_url(talk) %>">
    <h3 style="margin-top: 0px; margin-bottom: .5em; margin-right: .5em; line-height: .9em;"><%= talk.title %></h3></a>
    <span><i class="icon-eye-open"></i> <%= talk.votes_count + 1  %></span>
    <span><i class="icon-comment"></i> <%= talk.comments.count  %></span>
    Proposto il: <%= talk.created_at.to_s.slice(0..9)  %> da: <strong><%= talk.user.display_name %></strong>
  </div>
  <div class="row span13">
    <textarea class="wmd-input hidden" id="wmd-input"><%= talk.content %></textarea>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
  </div>
</div>

<%= link_to 'vota', toggle_vote_talk_url(@talk), :remote => true, :class => 'toggle_vote' %><br>

<div>
<% @talk.voters_who_voted.each do |u| %>
 <%= u.display_name %>
<% end %>
</div>

<% @comments = @talk.comments.includes(:user) %>
<div id="comments">
<% for comment in @comments %>
<div class="row" style="border-bottom: 1px solid #DDD; margin-top: 4px;">
  <div class="span1"><%= image_tag profile_img(comment.user) %></div>
  <div class="span13">
    <h4 style="margin-top: 0px; margin-bottom: .5em; line-height: .9em;"><%=simple_format comment.content %></h4>
    <%= comment.user.display_name %>
  </div>
</div>
<% end %>
</div>



<h2>Nuovo commento</h2>

<%= twitter_bootstrap_form_for [@talk, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
